form(method="POST", action="/")
    p  	Date (YYYY-MM-DD):
        input(type="text", name="date")
    p	Hours Worked
        input(type="text", name="hours")
    p	Description:
        textarea(name="description")
    input(type="submit", value="add")